<%= form_with(model: @question, local: true) do |f| %>

    
  <div>
    <%= f.label :title, "タイトル" %>
    <% if @question.errors.include?(:title) %>
     <p style="color: red;"><%= @question.errors.full_messages_for(:title).first %>
　   <% end %>
    <br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, "本文"%>
    <% if @question.errors.include?(:body) %>
     <p style="color: red;"><%= @question.errors.full_messages_for(:body).first %>
　   <% end %>
    <br>
    <%= f.text_area :body %>
  </div>
  <%= f.submit "質問する"%>
<% end %>