<p>質問のタイトル：<%= @question.title %></p>
<p>質問内容：<%= @question.body %></p>
<% if @question.user_id == current_user.id%>
    <%= link_to("編集", "/questions/#{@question.id}/edit") %>
    <%= link_to("削除", "/questions/#{@question.id}", method: :delete, data: {confirm: "本当に削除しますか？"}) %>
<% end %>
<br>
<hr>
<br>
<div>
  <%= form_with(model: [@question, @answer], local: true) do |f| %>
    <div>
      <%= f.label :body, "あなたの回答:" %><br>
      <%= f.text_area :body %>
    </div>
    <%= f.submit "回答する"%>
  <% end %>
</div>
<hr>
<div>
    <p>この質問についた回答:</p>
    <% if @question.answers.present? %>
        <% @question.answers.each do |answer|%>
            <p><%= answer.body %></p>
        <% end %>
    <% else %>
        <p>この質問にはまだ回答がありません</p>
    <% end %>
</div>