<header>
    <div class="header-logo">
    <%= link_to("Rails beginner", "/") %>
  </div>
  <ul>
    <% if user_signed_in? %>
      <li>ようこそ、
        <%= current_user.name %>さん(ユーザーID：<%= current_user.id%>)
      </li>
      <li>
        <%= link_to("質問作成", "/questions/new") %>
      </li>
      <li>
        <%= link_to("ログアウト", "/users/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %>
      </li>
    <% else %>
      <li>
        <%= link_to("新規登録", "/users/sign_up") %>
      </li>
      <li>
        <%= link_to("ログイン", "/users/sign_in") %>
      </li>
    <% end %>
  </ul>
</header>